<header class="header">
  <div class="header__container">

    <div class="nav__container">
      <img src="" alt="logo" class="logo" />
      <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Weather</a></li>
        <li class="nav__item"></li>
        <li class="nav__item"></li>
      </ul>
    </div>

    <div class="search__container">
      <form>
        <label class="search__label">
          <input
            class="search__input"
            type="text"
            placeholder="Search weather"
          />
        </label>
        <button class="search__btn" type="submit">Search</button>
      </form>
    </div>

  </div>
</header>
